/* CALL FONTS: font-family: 'Public Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;500&display=swap');

/* RESET STYLES */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    padding: 20px 0 0;
    font-family: 'Public Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

p, a, span {
    font-size: 20px;
}

a {
    color: #353535;
}

p {
    line-height: 1.6;
}

/* HTML */
:root {
    scroll-behavior: smooth;
}


/* HEADER */

/* :::topbar::: */
section#topbar {
    background: #353535;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

#topbar .topbar-brand {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
}

#topbar .topbar-contacto {
    margin-left: auto;
    display: flex;
    flex-flow: row;
}

#topbar .topbar-contacto a.topbar-brand-button {
    padding: 5px 15px;
    width: fit-content;
    display: block;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

#topbar .topbar-contacto a.topbar-brand-button.button-correo {
    margin-right: 10px;
    background: linear-gradient(180deg, #e0be67ff 0%, #e5c411ff 100%);
    border: 0.5px solid #e0be67ff;
    cursor: pointer;
}

#topbar .topbar-contacto a.topbar-brand-button.button-correo:hover {
    background: linear-gradient(180deg, #e0be67ff 0%, #e0be67ff 100%);
    box-shadow: 0 0 7px #6f6f6f;
}

#topbar .topbar-contacto a.topbar-brand-button.button-telefono {
    margin-left: 10px;
    background: linear-gradient(180deg, #f0f0f0ff 0%, #ccccccff 100%);
    border: 0.5px solid #f0f0f0ff;
    cursor: pointer;
}

#topbar .topbar-contacto a.topbar-brand-button.button-telefono:hover {
    background: linear-gradient(180deg, #f0f0f0ff 0%, #f0f0f0ff 100%);
    box-shadow: 0 0 7px #6f6f6f;
}

/* :::nav-menu::: */

nav#nav-menu {
    background-color: #fafafaff;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
}

#nav-menu .nav-menu--flex {
    display: flex;
    flex-flow: row;
    padding: 10px 40px;
}

#nav-menu .nav-menu--flex div:nth-of-type(2) {
    margin: auto;
}

#nav-menu .nav-menu--flex div:nth-child(1) {
    margin-left: 0;
}

#nav-menu .nav-menu--flex div:last-of-type {
    margin-right: 0;
}

img.menu-logo--image {
    width: auto;
    height: 60px;
}

.nav-menu--flex .nav-menu--menu #nav-menu--list {
    list-style: none;
}

.nav-menu--flex .nav-menu--menu #nav-menu--list .nav-menu--item {
    float: left;
    padding: 0 20px;
    height: 2vh;
    box-sizing: border-box;
    cursor: pointer;
}

.nav-menu--flex .nav-menu--menu #nav-menu--list .nav-menu--item .nav-menu--link {
    float: left;
    padding: 0 20px;
}

.nav-menu--flex .nav-menu--menu #nav-menu--list .nav-menu--item:hover > .nav-menu--link {
    border-bottom: 3px solid #e5c411ff;
}

.nav-menu--flex .nav-menu--search:nth-of-type(n) {
    margin: auto 0;
}

.nav-menu--flex .nav-menu--search input#busqueda {
    height: 25px;
    padding: 1px 4px;
    width: 200px;
    border-radius: 7px;
    border: 1px solid #ccc;
    background: #f1f1f1;
}

.nav-menu--flex .nav-menu--search button#busqueda-button {
    font-size: 17px;
    padding: 2px 10px;
    border-radius: 6px;
    border: 1px solid #f0f0f0;
    background: linear-gradient(180deg, #f0f0f0 0%, #ccc 100%);
}

/* PAGE-HERO */
#page-hero{
    position: relative;
    top: 130px;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: block;
    margin-bottom: 130px;
}

.slide-uno{
    background-image: url(../images/sec_guard_mall.jpg);
}

.slide-dos{
    background-image: url(../images/sec_guard_club-hipico.jpg);
}

.slide-tres{
    background-image: url(../images/sec_guard_condo.jpg);
}

#page-hero div.slider-hero {
    display: flex;
    flex-flow: row;
    margin: auto;
    width: 100%;
    height: 100%;
}

#page-hero div.slider-hero div:first-of-type {
    display: flex;
    margin: auto auto 0;
    height: 100%;
}

#page-hero div.slider-hero div:last-of-type {
    display: flex;
    margin: auto auto 0;
    height: 100%;
}

#page-hero div.slider-hero div img {
    height: auto;
    margin-top: auto;
    display: flex;
}

/* MAIN */

main#page-main{
    padding-top:50px;
}

#page-main article.page-main--block {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-main--article {
    width: 45%;
    margin: auto;
}

.page-main--formulario {
    width: 45%;
    margin: auto;
    background: #ccc;
    padding: 40px 5px;
    border-radius: 10px;
}

h2.page-main--title {
    font-size: 50px;
    margin-bottom: 30px;
}

.page-main--article p {
    text-align: justify;
    width: 80%;
}

.page-main--article p:first-child {
    margin-bottom: 20px;
}

.page-main--formulario #formulario {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: auto;
}

.page-main--formulario #formulario label {
    margin-bottom: 5px;
    font-size: 20px;
}

.page-main--formulario #formulario input {
    margin-bottom: 20px;
    height: 25px;
    padding: 2px 1px;
    font-size: 18px;
}

.page-main--formulario #formulario select {
    margin-bottom: 20px;
    height: 40px;
    font-size: 17px;
}

.page-main--formulario #formulario input, .page-main--formulario #formulario select {
    border-radius: 7px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ccc;
}

.page-main--formulario #formulario button {
    width: 40%;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background: linear-gradient(180deg, #f0f0f0 0%, #ccc 100%);
    cursor: pointer;
}

.page-main--formulario #formulario button:hover {
    background: #f0f0f0;
}

section.info-servicios--block, div.info-servicios--block {
    background: #f0f0f0;
}

div.servicios-card--block, div.info-servicios--block {
    padding: 25px 50px;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 60px;
}

h2.servicios-title {
    padding-top: 30px;
    padding-left: 55px;
    padding-bottom: 20px;
    font-size: 50px;
}

section.info-servicios--block p:not(.card-servicios--body p) {
    text-align: justify;
    width: 80%;
    padding-left: 55px;
}

section.info-servicios--block p:last-of-type:not(.card-servicios--body p) {
    margin-bottom: 30px;
}

section.info-servicios--block h3 {
    font-size: 30px;
    padding-left: 55px;
}

.info-servicios--block .info-servicios--card {
    box-sizing: border-box;
    margin: auto;
    width: 33%;
}

.info-servicios--card .card-servicios {
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #fff;
    width: 100%;
    height: 370px;
    margin: auto;
    box-shadow: 0 0 15px #c7c7c7;
}

.card-servicios img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    margin-bottom: 0;
}

.card-servicios .card-servicios--body {
    padding: 10px 20px;
}

.card-servicios--body h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.info-servicios--block a#contratar-servicios {
    padding: 7px 20px;
    background: linear-gradient(180deg, #e0be67ff 0%, #e5c411ff 100%);
    border-radius: 10px;
    font-size: 25px;
    color: #353535;
    margin: auto;
    box-shadow: 0 0 15px #c7c7c7;
    cursor: pointer;
}

.info-servicios--block a#contratar-servicios:hover {
    background: #e0be67ff;
}

article.info-servicios--block {
    padding: 20px 50px;
}

article.info-servicios--block div.nuestro-personal h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

article.info-servicios--block div.nuestro-personal div {
    display: flex;
    flex-flow: row;
    column-gap: 30px;
    margin-bottom: 30px;
}

article.info-servicios--block div.nuestro-personal div img {
    display: block;
    width: auto;
    margin: auto;
    height: 450px;
    min-height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 15px #ccc;
}
article.info-servicios--block div.nuestro-personal div p {
    display: block;
    margin: auto;

}

article.info-servicios--block div.nuestro-personal div div {
    display: flex;
    flex-flow: column;
}

article.info-servicios--block div.nuestro-personal div div ol{
    display: block;
    margin: auto;
    width: 80%;
    padding: 30px;
}

article.info-servicios--block div.nuestro-personal div div ol li{
    font-size: 20px;
    margin-bottom: 20px;
}

section#reportes.sistema-reportes {
    background: #f0f0f0;
}

section#reportes.sistema-reportes h2 {
    margin-left: 50px;
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 50px;
}

section#reportes.sistema-reportes div.sistema-reportes-box{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 30px;
    padding: 25px 50px;
}

section#reportes.sistema-reportes .card-reportes{
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #fff;
    width: 45%;
    height: 370px;
    margin: auto;
    box-shadow: 0 0 15px #c7c7c7;
}


section#reportes.sistema-reportes .card-reportes img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    margin-bottom: 0;
}

section#reportes.sistema-reportes .card-reportes div.card-reportes--body {
    padding: 5px;
}

section#reportes.sistema-reportes .card-reportes div.card-reportes--body h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

section#reportes.sistema-reportes .card-reportes div.card-reportes--body ol {
    padding: 0 30px;
}

section#reportes.sistema-reportes .card-reportes div.card-reportes--body ol li {
    font-size: 20px;
    margin-bottom: 20px;
}

/* CONTACT FORM */
section#contacto-form{
    padding: 30px 50px;
}

section#contacto-form form#formulario-bottom {
    display: flex;
    flex-flow: column;
    row-gap: 5px;
    width: 40%;
    margin: auto;
}

form#formulario-bottom label {
    font-size: 20px;
}

form#formulario-bottom input {
    height: 30px;
    padding: 2px 3px;
    border-radius: 7px;
    border: 1px solid #ccc;
    font-size: 19px;
}

form#formulario-bottom select {
    height: 40px;
    padding: 2px 3px;
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

form#formulario-bottom button {
    width: 40%;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background: linear-gradient(180deg, #f0f0f0 0%, #ccc 100%);
    cursor: pointer;
}

form#formulario-bottom button:hover {
    background: #f0f0f0;
}

/* FOOTER */

footer#footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 0 0;
    background-color: #353535;
    color: #f1f1f1;
    text-align: center;
    font-size: 20px;
}

#footer .footer-block--top {
    display: flex;
    flex-flow: column;
}

#footer .footer-block--top .footer-brand h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#footer .footer-block--top .footer-contact {
    margin: auto;
    padding-bottom: 20px;
}

#footer .footer-block--top .footer-contact a.footer-brand-button.button-correo {
    margin-right: 10px;
    background: linear-gradient(180deg, #e0be67ff 0%, #e5c411ff 100%);
    border: 0.5px solid #e0be67ff;
    border-radius: 10px;
    padding: 3px 20px;
    cursor: pointer;
}

#footer .footer-block--top .footer-contact a.footer-brand-button.button-correo:hover {
    background: #e0be67ff;
}

#footer .footer-block--top .footer-contact a.footer-brand-button.button-telefono {
    margin-left: 10px;
    background: linear-gradient(180deg, #f0f0f0ff 0%, #ccccccff 100%);
    border: 0.5px solid #f0f0f0ff;
    border-radius: 10px;
    padding: 3px 20px;
}

#footer .footer-block--top .footer-contact a.footer-brand-button.button-telefono:hover {
    background: f0f0f0ff;
    cursor: pointer;
}

footer#footer .footer-block--bottom {
    padding: 30px 0 10px;
}

/* MEDIA QUERY */



@media (min-width: 320px) and (max-width: 768px) {
    section#topbar {
        flex-flow: column;
    }

    #topbar .topbar-brand h3.topbar-brand--name {
        text-align: center;
        margin-bottom: 10px;
    }

    #topbar .topbar-contacto {
        flex-flow: column;
        margin: auto;
        row-gap: 20px;
        column-gap: 0;
    }

    #topbar .topbar-contacto a.topbar-brand-button {
        width: 100%;
    }

    #topbar .topbar-contacto a.topbar-brand-button.button-correo {
        margin-right: 0;
    }

    #topbar .topbar-contacto a.topbar-brand-button.button-telefono {
        margin-left: 0;
    }

    nav#nav-menu {
        top: 170px;
    }

    .nav-menu--flex .nav-menu--menu #nav-menu--list {
        display: none;
    }

    .nav-menu--flex .nav-menu--search {
        display: none;
    }

    #page-hero {
        top: 230px;
    }

    #page-hero div.slider-hero div img {
        height: 32vh;
        margin-top: auto;
        display: flex;
    }

    main#page-main{
        padding-top: 75px;
    }

    #page-main article.page-main--block {
        flex-flow: column-reverse;
    }

    .page-main--article, .page-main--formulario {
        width: 85%;
        margin: 30px auto;
    }

    h2.page-main--title {
        text-align: center;
    }

    .page-main--article p {
        display: block;
        margin: auto;
    }

    div.servicios-card--block, div.info-servicios--block {
        flex-flow: column;
        row-gap: 10px;
    }

    .info-servicios--block .info-servicios--card {
        width: 80%;
    }
    
    .info-servicios--block .info-servicios--card .card-servicios {
        height: fit-content;
    }

    article.info-servicios--block div.nuestro-personal div {
        flex-flow: column;
    }

    article.info-servicios--block div.nuestro-personal h2 {
        text-align: center;
    }

    article.info-servicios--block div.nuestro-personal div p {
        text-align: justify;
    }

    article.info-servicios--block div.nuestro-personal div img {
        height: auto;
        width: 70%;
    }

    article.info-servicios--block div.nuestro-personal div:last-of-type img {
        display: none;
    }

    article.info-servicios--block div.nuestro-personal div div ol {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    section#reportes.sistema-reportes div.sistema-reportes-box {
        flex-flow: column;
        row-gap: 10px;
    }

    section#reportes.sistema-reportes h2 {
        text-align: center;
        margin-left: 0;
    }

    #reportes.sistema-reportes p {
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    section#reportes.sistema-reportes .card-reportes {
        width: 90%;
    }

    section#contacto-form form#formulario-bottom {
        width: 85%;
    }

    #footer {
        padding-bottom: 30px;
    }

    #footer .footer-block--top .footer-contact {
        display: flex;
        flex-flow: column;
        row-gap: 10px;
    }

    #footer .footer-block--top .footer-contact a.footer-brand-button.button-correo {
        margin-right: 0;
    }

    #footer .footer-block--top .footer-contact a.footer-brand-button.button-telefono {
        margin-left: 0;
    }

    footer#footer .footer-block--bottom {
        padding-bottom: 20px;
    }
}

/* JS especial class */

.error {
    border: 1px solid #ff2e2e !important;
}

.success {
    border: 1px solid #25ba25 !important;
}

.error-mensaje {
    border: 1px solid #ff2e2e;
    background: #f27272;
    color: #353535;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.button-disabled {
    opacity: .6;
    cursor: not-allowed !important;
}

.mensaje-success {
    border: 1px solid #25ba25;
    background: #82e982;
    color: #454545;
    padding: 10px;
    margin: 5px;
    text-align: center;
}